<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="menu">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Véhicule</title>
</head>
<body>
<div layout:fragment="content1">
    <div class="p-3">
        <form method="post" th:action="@{saveVehicule}">
            <div class="mb-3 mt-3">
                <label for="marque" class="form-label">Marque:</label>
                <input type="text" class="form-control" id="marque" placeholder="Peugeot" name="marque">
                <span class="text-danger" ></span>
            </div>
            <div class="mb-3">
                <label for="modele" class="form-label">Modéle:</label>
                <input type="text" class="form-control" id="modele" placeholder="Partner"
                       name="modele" >
            </div>
            <div class="mb-3">
                <label for="annee" class="form-label">Année:</label>
                <input type="date" class="form-control" id="annee" placeholder="Année"
                       name="année" >
            </div>
            <div class="mb-3 mt-3">
                <label for="carburant" class="form-label">Carburant:</label>
                <input type="text" class="form-control" id="carburant" placeholder="Diesel"
                       name="carburant" >
                <span class="text-danger" ></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="matricule" class="form-label">Matricule:</label>
                <input type="text" class="form-control" id="matricule" placeholder="15-589745"
                       name="matricule" >
                <span class="text-danger" ></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>